Repository wolfram-laube/corporate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-pandoc-docs, build-typst-docs

build-pandoc-docs:
  stage: build
  image: ubuntu:22.04
  variables:
    DEBIAN_FRONTEND: noninteractive
    TZ: Europe/Vienna
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends pandoc texlive-xetex texlive-fonts-recommended texlive-latex-recommended lmodern git ca-certificates
  ...

build-typst-docs:
  stage: build
  image: ghcr.io/typst/typst:latest
  before_script:
  - apk add --no-cache git
  - git config --global user.email "ci@blauweiss-edv.com"
  - git config --global user.name "GitLab CI"
  - git config --global --add safe.directory "$CI_PROJECT_DIR"
  script:
  ...

typst added - WL
  experimental/typst/typst-beispiel.pdf
  experimental/typst/typst-beispiel.typ
Due: build-typst-docs

Fix Typst job: use Ubuntu with manual install
  .gitlab-ci.yml
Due: none

🤖 Auto-generate PDFs from Typst [skip ci]
  experimental/typst/typst-beispiel.pdf
  typst-x86_64-unknown-linux-musl/LICENSE
  typst-x86_64-unknown-linux-musl/NOTICE
  typst-x86_64-unknown-linux-musl/README.md
Due: build-pandoc-docs

Add Quarto support to pipeline
  .gitlab-ci.yml
  experimental/quarto/quarto-beispiel.docx
  experimental/quarto/quarto-beispiel.html
  experimental/quarto/quarto-beispiel.pdf
  experimental/quarto/quarto-beispiel.qmd
  experimental/quarto/quarto-beispiel_files/figure-html/fig-simple-output-1.png
  experimental/quarto/quarto-beispiel_files/libs/bootstrap/bootstrap-d6a003b94517c951b2d65075d42fb01b.min.css
  experimental/quarto/quarto-beispiel_files/libs/bootstrap/bootstrap-icons.css
  experimental/quarto/quarto-beispiel_files/libs/bootstrap/bootstrap-icons.woff
  experimental/quarto/quarto-beispiel_files/libs/bootstrap/bootstrap.min.js
  experimental/quarto/quarto-beispiel_files/libs/clipboard/clipboard.min.js
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/anchor.min.js
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/axe/axe-check.js
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/popper.min.js
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/quarto-syntax-highlighting-587c61ba64f3a5504c4d52d930310e48.css
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/quarto.js
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/tabsets/tabsets.js
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/tippy.css
  experimental/quarto/quarto-beispiel_files/libs/quarto-html/tippy.umd.min.js
Due: none

Add LaTeX output to Quarto/Jupyter pipeline
  .gitlab-ci.yml
Due: none

Add test Jupyter notebook
  experimental/jupyter/test-notebook.ipynb
Due: none

Fix pip install for Ubuntu 22.04
  .gitlab-ci.yml
Due: none

🤖 Auto-generate PDFs from Typst [skip ci]
  experimental/typst/typst-beispiel.pdf
Due: none

🤖 Auto-generate documents from Markdown [skip ci]
  finance/compliance/04_LLC_Compliance_Checklist.docx
  finance/compliance/04_LLC_Compliance_Checklist.pdf
  finance/templates/invoices/dist/05_Invoice_Template_EN.docx
  finance/templates/invoices/dist/05_Invoice_Template_EN.pdf
  finance/templates/invoices/dist/05_Rechnungsvorlage_DE.docx
  finance/templates/invoices/dist/05_Rechnungsvorlage_DE.pdf
  legal/formation/dist/01_APOR_Antrag_DE.docx
  legal/formation/dist/01_APOR_Antrag_DE.pdf
  legal/formation/dist/01_APOR_Application_EN.docx
  legal/formation/dist/01_APOR_Application_EN.pdf
  legal/formation/dist/02_Gesellschaftsvertrag_DE.docx
  legal/formation/dist/02_Gesellschaftsvertrag_DE.pdf
  legal/formation/dist/02_Operating_Agreement_EN.docx
  legal/formation/dist/02_Operating_Agreement_EN.pdf
  legal/formation/dist/03_Contractor_Agreement_EN.docx
  legal/formation/dist/03_Contractor_Agreement_EN.pdf
  legal/formation/dist/03_Dienstleistungsvertrag_DE.docx
  legal/formation/dist/03_Dienstleistungsvertrag_DE.pdf
Due: none

Track PDFs with Git LFS
  .gitattributes
Due: none

typst added - WL
  experimental/quarto/quarto-beispiel.pdf
  experimental/typst/typst-beispiel.pdf
  finance/compliance/04_LLC_Compliance_Checklist.pdf
  finance/templates/invoices/dist/05_Invoice_Template_EN.pdf
  finance/templates/invoices/dist/05_Rechnungsvorlage_DE.pdf
  legal/formation/dist/01_APOR_Antrag_DE.pdf
  legal/formation/dist/01_APOR_Application_EN.pdf
  legal/formation/dist/02_Gesellschaftsvertrag_DE.pdf
  legal/formation/dist/02_Operating_Agreement_EN.pdf
  legal/formation/dist/03_Contractor_Agreement_EN.pdf
  legal/formation/dist/03_Dienstleistungsvertrag_DE.pdf
Due: none

typst added - WL
  legal/formation/dist/01_APOR_Antrag_DE.pdf
  legal/formation/dist/01_APOR_Application_EN.pdf
  legal/formation/dist/02_Gesellschaftsvertrag_DE.pdf
  legal/formation/dist/02_Operating_Agreement_EN.pdf
  legal/formation/dist/03_Contractor_Agreement_EN.pdf
  legal/formation/dist/03_Dienstleistungsvertrag_DE.pdf
Due: none

Make pipeline race-condition safe with LFS support
  .gitlab-ci.yml
Due: none

Fix LFS hook conflict
  .gitlab-ci.yml
Due: none

🤖 Auto-generate documents [skip ci]
  experimental/quarto/quarto-beispiel_files/figure-latex/fig-simple-output-1.pdf
  experimental/typst/typst-beispiel.pdf
  finance/compliance/04_LLC_Compliance_Checklist.docx
  finance/compliance/04_LLC_Compliance_Checklist.pdf
  finance/templates/invoices/dist/05_Invoice_Template_EN.docx
  finance/templates/invoices/dist/05_Invoice_Template_EN.pdf
  finance/templates/invoices/dist/05_Rechnungsvorlage_DE.docx
  finance/templates/invoices/dist/05_Rechnungsvorlage_DE.pdf
  legal/formation/dist/01_APOR_Antrag_DE.docx
  legal/formation/dist/01_APOR_Antrag_DE.pdf
  legal/formation/dist/01_APOR_Application_EN.docx
  legal/formation/dist/01_APOR_Application_EN.pdf
  legal/formation/dist/02_Gesellschaftsvertrag_DE.docx
  legal/formation/dist/02_Gesellschaftsvertrag_DE.pdf
  legal/formation/dist/02_Operating_Agreement_EN.docx
  legal/formation/dist/02_Operating_Agreement_EN.pdf
  legal/formation/dist/03_Contractor_Agreement_EN.docx
  legal/formation/dist/03_Contractor_Agreement_EN.pdf
  legal/formation/dist/03_Dienstleistungsvertrag_DE.docx
  legal/formation/dist/03_Dienstleistungsvertrag_DE.pdf
  quarto-beispiel.docx
  quarto-beispiel.html
  quarto-beispiel.pdf
  quarto-beispiel.tex
  test-notebook.docx
  test-notebook.html
  test-notebook.pdf
  test-notebook.tex
Due: none

Remove --break-system-packages flag
  .gitlab-ci.yml
Due: none

Fix Quarto: cd to directory before render
  .gitlab-ci.yml
Due: none

Fix: commit-all runs always after builds
  .gitlab-ci.yml
Due: none

Fix commit-all: work in project dir with artifacts
  .gitlab-ci.yml
Due: none

Fix commit-all: preserve artifacts during checkout
  .gitlab-ci.yml
Due: none

🤖 Auto-generate documents [skip ci]
  experimental/jupyter/test-notebook.docx
  experimental/jupyter/test-notebook.html
  experimental/jupyter/test-notebook.pdf
  experimental/jupyter/test-notebook.tex
  experimental/quarto/quarto-beispiel.docx
  experimental/quarto/quarto-beispiel.pdf
  experimental/quarto/quarto-beispiel.tex
  experimental/quarto/quarto-beispiel_files/figure-latex/fig-simple-output-1.pdf
Due: none

Add Google Drive upload job
  .gitlab-ci.yml
Due: none

Add Typst invoice template with corporate branding
  finance/templates/invoices/typst/logo-blauweiss.png
  finance/templates/invoices/typst/rechnung-template.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/jupyter/test-notebook.docx
  experimental/jupyter/test-notebook.pdf
  experimental/quarto/quarto-beispiel.docx
  experimental/quarto/quarto-beispiel.html
  experimental/quarto/quarto-beispiel.pdf
  experimental/quarto/quarto-beispiel.tex
  experimental/quarto/quarto-beispiel_files/figure-latex/fig-simple-output-1.pdf
  finance/compliance/04_LLC_Compliance_Checklist.docx
  finance/compliance/04_LLC_Compliance_Checklist.pdf
  finance/templates/invoices/dist/05_Invoice_Template_EN.docx
  finance/templates/invoices/dist/05_Invoice_Template_EN.pdf
  finance/templates/invoices/dist/05_Rechnungsvorlage_DE.docx
  finance/templates/invoices/dist/05_Rechnungsvorlage_DE.pdf
  finance/templates/invoices/typst/rechnung-template.pdf
  legal/formation/dist/01_APOR_Antrag_DE.docx
  legal/formation/dist/01_APOR_Antrag_DE.pdf
  legal/formation/dist/01_APOR_Application_EN.docx
  legal/formation/dist/01_APOR_Application_EN.pdf
  legal/formation/dist/02_Gesellschaftsvertrag_DE.docx
  legal/formation/dist/02_Gesellschaftsvertrag_DE.pdf
  legal/formation/dist/02_Operating_Agreement_EN.docx
  legal/formation/dist/02_Operating_Agreement_EN.pdf
  legal/formation/dist/03_Contractor_Agreement_EN.docx
  legal/formation/dist/03_Contractor_Agreement_EN.pdf
  legal/formation/dist/03_Dienstleistungsvertrag_DE.docx
  legal/formation/dist/03_Dienstleistungsvertrag_DE.pdf
Due: none

Invoice AR000 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.typ
Due: build-typst-docs

Add invoice generator script
  neue-rechnung.py
Due: none

Invoice OP_AR352_2025 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.typ
Due: build-typst-docs

Add Invoice PDF [skip ci]
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.pdf
Due: none

Fix: Artifact-Übergabe zwischen Pipeline-Stages
  .gitlab-ci.yml
Due: none

Invoice AR_000 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.typ
Due: build-typst-docs

Invoice AR_001 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.typ
Due: build-typst-docs

Fix: Artifacts nach Git-Checkout nutzen
  .gitlab-ci.yml
Due: none

Invoice AR_002 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.typ
Due: build-typst-docs

Fix: dependencies statt needs für Artifact-Übergabe
  .gitlab-ci.yml
Due: none

Invoice AR_003 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.pdf
  generated/typst-invoices/2025-12-16_Invoice_nemensis_AR000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_001.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_002.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_003.pdf
  generated/typst-invoices/rechnung-template.pdf
Due: none

Invoice AR_005 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_005.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_005.pdf
  finance/templates/invoices/typst/rechnung-template.pdf
  generated/typst-invoices/2025-12-16_Invoice_nemensis_AR000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_001.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_002.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_003.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_005.pdf
  generated/typst-invoices/rechnung-template.pdf
Due: none

Add Inter font files
  finance/templates/invoices/typst/Inter-Bold.otf
  finance/templates/invoices/typst/Inter-Regular.otf
Due: none

Path conditions:
  build-pandoc-docs: any of: **/*.md
  build-typst-docs: any of: **/*.typ
