Repository wolfram-laube/corporate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-pandoc-docs, build-typst-docs, build-quarto-docs

Path conditions:
  build-pandoc-docs: any of: **/*.md, !**/*.qmd
  build-typst-docs: any of: **/*.typ
  build-quarto-docs: any of: **/*.qmd, **/*.ipynb

Invoice AR_006 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_006.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_005.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_006.pdf
  finance/templates/invoices/typst/rechnung-template.pdf
  generated/typst-invoices/2025-12-16_Invoice_nemensis_AR000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_001.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_002.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_003.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_005.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_006.pdf
  generated/typst-invoices/rechnung-template.pdf
Due: none

Add --font-path for Inter font
  .gitlab-ci.yml
Due: none

Invoice AR_007 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_007.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_005.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_006.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_007.pdf
  finance/templates/invoices/typst/rechnung-template.pdf
  generated/typst-invoices/2025-12-16_Invoice_nemensis_AR000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_001.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_002.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_003.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_005.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_006.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_007.pdf
  generated/typst-invoices/rechnung-template.pdf
Due: none

Add Inter font (correct files)
  finance/templates/invoices/typst/Inter-Bold.ttf
  finance/templates/invoices/typst/Inter-Regular.ttf
Due: none

Add Inter font (correct files)
  finance/templates/invoices/typst/Inter-Bold.otf
  finance/templates/invoices/typst/Inter-Regular.otf
Due: none

Invoice AR_008 for nemensis AG Deutschland
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_008.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_005.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_006.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_007.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_008.pdf
  finance/templates/invoices/typst/rechnung-template.pdf
  generated/typst-invoices/2025-12-16_Invoice_nemensis_AR000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_001.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_002.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_003.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_005.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_006.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_007.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_008.pdf
  generated/typst-invoices/rechnung-template.pdf
Due: none

test: API write access verification [skip ci]
  .claude-test-delete-me.txt
Due: none

chore: cleanup test invoices AR_000-AR_008 and duplicates [skip ci]
  .claude-test-delete-me.txt
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.pdf
  finance/templates/invoices/typst/2025-12-16_Invoice_nemensis_AR000.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_000.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_001.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_002.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_003.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_005.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_005.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_006.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_006.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_007.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_007.typ
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_008.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR_008.typ
  generated/typst-invoices/2025-12-16_Invoice_nemensis_AR000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_000.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_001.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_002.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_003.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_005.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_006.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_007.pdf
  generated/typst-invoices/2025-12-18_Invoice_nemensis_AR_008.pdf
Due: build-typst-docs

Fix: subprocess statt os.system für Git-Operationen
  neue-rechnung.py
Due: none

chore: remove test invoice AR352_2025 [skip ci]
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.typ
Due: build-typst-docs

feat: Add multilingual invoice templates (DE/EN-EU/EN-US) with Art. 196 MwStSystRL
  finance/templates/invoices/typst/invoice-en-eu.typ
  finance/templates/invoices/typst/invoice-en-us.typ
  finance/templates/invoices/typst/rechnung-de.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-18_Invoice_nemensis_AR352_2025.pdf
  finance/templates/invoices/typst/invoice-en-eu.pdf
  finance/templates/invoices/typst/invoice-en-us.pdf
  finance/templates/invoices/typst/rechnung-de.pdf
  finance/templates/invoices/typst/rechnung-template.pdf
  generated/typst-invoices/invoice-en-eu.pdf
  generated/typst-invoices/invoice-en-us.pdf
  generated/typst-invoices/rechnung-de.pdf
  generated/typst-invoices/rechnung-template.pdf
Due: none

feat: Update invoice generator with multilingual support (DE/EN-EU/EN-US) + Art. 196 MwStSystRL; remove old template
  finance/templates/invoices/typst/rechnung-template.typ
  neue-rechnung.py
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/invoice-en-eu.pdf
  finance/templates/invoices/typst/invoice-en-us.pdf
  finance/templates/invoices/typst/rechnung-de.pdf
  generated/typst-invoices/invoice-en-eu.pdf
  generated/typst-invoices/invoice-en-us.pdf
  generated/typst-invoices/rechnung-de.pdf
Due: none

refactor: Invoice generator with proper source→destination tax logic
  neue-rechnung.py
Due: none

feat: Add CLI and JSON support to invoice generator
  neue-rechnung.py
Due: none

Rechnung OP_AR010_2025 für nemensis AG (EU/DE)
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR010_2025_de.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR010_2025_de.pdf
  finance/templates/invoices/typst/invoice-en-eu.pdf
  finance/templates/invoices/typst/invoice-en-us.pdf
  finance/templates/invoices/typst/rechnung-de.pdf
  generated/typst-invoices/2025-12-19_Rechnung_nemensis_AR010_2025_de.pdf
  generated/typst-invoices/invoice-en-eu.pdf
  generated/typst-invoices/invoice-en-us.pdf
  generated/typst-invoices/rechnung-de.pdf
Due: none

Rechnung OP_AR010_2025 für nemensis AG Deutschland (EU/DE)
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR010_2025_de.typ
Due: build-typst-docs

Rechnung OP_AR354_2025 für nemensis AG Deutschland (EU/DE)
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR354_2025_de.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR010_2025_de.pdf
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR354_2025_de.pdf
  finance/templates/invoices/typst/invoice-en-eu.pdf
  finance/templates/invoices/typst/invoice-en-us.pdf
  finance/templates/invoices/typst/rechnung-de.pdf
  generated/typst-invoices/2025-12-19_Rechnung_nemensis_AR010_2025_de.pdf
  generated/typst-invoices/2025-12-19_Rechnung_nemensis_AR354_2025_de.pdf
  generated/typst-invoices/invoice-en-eu.pdf
  generated/typst-invoices/invoice-en-us.pdf
  generated/typst-invoices/rechnung-de.pdf
Due: none

fix: Smart customer address formatting
  neue-rechnung.py
Due: none

Rechnung OP_AR011_2025 - fixed address formatting
  finance/templates/invoices/typst/2025-12-21_Rechnung_nemensis_AR011_2025_de.typ
Due: build-typst-docs

🤖 Auto-generate documents [skip ci]
  experimental/typst/typst-beispiel.pdf
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR010_2025_de.pdf
  finance/templates/invoices/typst/2025-12-19_Rechnung_nemensis_AR354_2025_de.pdf
  finance/templates/invoices/typst/2025-12-21_Rechnung_nemensis_AR011_2025_de.pdf
  finance/templates/invoices/typst/invoice-en-eu.pdf
  finance/templates/invoices/typst/invoice-en-us.pdf
  finance/templates/invoices/typst/rechnung-de.pdf
  generated/typst-invoices/2025-12-19_Rechnung_nemensis_AR010_2025_de.pdf
  generated/typst-invoices/2025-12-19_Rechnung_nemensis_AR354_2025_de.pdf
  generated/typst-invoices/2025-12-21_Rechnung_nemensis_AR011_2025_de.pdf
  generated/typst-invoices/invoice-en-eu.pdf
  generated/typst-invoices/invoice-en-us.pdf
  generated/typst-invoices/rechnung-de.pdf
Due: none

docs(adr): add docs/adr/index.md
  docs/adr/index.md
Due: build-pandoc-docs

docs(adr): add ADR template
  docs/adr/_template.md
Due: build-pandoc-docs

docs(adr): GOV-001 ADR Structure - centralized ADRs with domain prefixes
  docs/adr/governance/GOV-001-adr-structure.md
Due: build-pandoc-docs

docs(adr): OPS-001 Billing Migration - move billing from CLARISSA to backoffice
  docs/adr/operations/OPS-001-billing-migration.md
Due: build-pandoc-docs

docs(adr): update index - add OPS-001
  docs/adr/index.md
Due: build-pandoc-docs

docs(adr): add OPS-003 Runbook Structure
  docs/adr/operations/OPS-003-runbook-structure.md
Due: build-pandoc-docs

docs(adr): update index with OPS-003
  docs/adr/index.md
Due: build-pandoc-docs

docs(adr): update OPS-001 status to Accepted + migration log
  docs/adr/operations/OPS-001-billing-migration.md
Due: build-pandoc-docs

docs(adr): update index - OPS-001 now Accepted
  docs/adr/index.md
Due: build-pandoc-docs

docs(adr): Add AI-001 Neurosymbolic Runner Selection Architecture
  docs/adr/ai/AI-001-neurosymbolic-runner-selection.md
Due: build-pandoc-docs

docs(adr): Update index with new AI category and AI-001
  docs/adr/index.md
Due: build-pandoc-docs

docs(adr): AI-001 Status → Accepted (Symbolic Layer merged)
  docs/adr/ai/AI-001-neurosymbolic-runner-selection.md
Due: build-pandoc-docs
