Repository wolfram-laube/corporate: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-pandoc-docs, build-typst-docs, build-quarto-docs

build-pandoc-docs:
  stage: build
  image: ubuntu:22.04
  variables:
    DEBIAN_FRONTEND: noninteractive
    TZ: Europe/Vienna
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends pandoc texlive-xetex texlive-fonts-recommended texlive-latex-recommended lmodern git ca-certificates
  script:
  ...

build-typst-docs:
  stage: build
  image: ubuntu:22.04
  variables:
    DEBIAN_FRONTEND: noninteractive
    TZ: Europe/Vienna
  before_script:
  - apt-get update
  - apt-get install -y --no-install-recommends wget git ca-certificates xz-utils
  ...

build-quarto-docs:
  stage: build
  image: ubuntu:22.04
  variables:
    DEBIAN_FRONTEND: noninteractive
    TZ: Europe/Vienna
  before_script:
  - apt-get update
  ...

docs(adr): Update index - AI-001 accepted
  docs/adr/index.md
Due: build-pandoc-docs

docs(adr): update AI-001 with Phase 3 completion
  docs/adr/ai/AI-001-neurosymbolic-runner-selection.md
Due: build-pandoc-docs

docs(adr): add GOV-002 Jupyter Notebook Standards
  docs/adr/governance/GOV-002-notebook-standards.md
Due: build-pandoc-docs

docs(template): add notebook template per GOV-002
  docs/templates/.gitkeep
  docs/templates/notebook-template.ipynb
Due: build-quarto-docs

docs(adr): add GOV-002 to index, link notebook template
  docs/adr/index.md
Due: build-pandoc-docs

docs(adr): add INF-001 CI/CD Test Observability
  docs/adr/index.md
  docs/adr/infrastructure/INF-001-ci-test-observability.md
Due: build-pandoc-docs

fix(adr): correct issue reference in INF-001 (#37 → #40)
  docs/adr/infrastructure/INF-001-ci-test-observability.md
Due: build-pandoc-docs

docs(adr): add GOV-003 Publication Pipeline Architecture
  docs/adr/governance/GOV-003-publication-pipeline.md
Due: build-pandoc-docs

docs(adr): add GOV-003 interactive HTML version
  docs/adr/governance/GOV-003-publication-pipeline.html
Due: none

fix(ci): add docker-any tags to all jobs for Nordic runner [skip ci]
  .gitlab-ci.yml
Due: none

docs(adr): normalize index whitespace
  docs/adr/index.md
Due: build-pandoc-docs

revert(ci): remove docker-any tags — need group-level runner first [skip ci]
  .gitlab-ci.yml
Due: none

fix(ci): add docker-any tags — Nordic runner now enabled for Corporate
  .gitlab-ci.yml
Due: none

docs(adr): add GOV-003 Publication Workflow
  docs/adr/governance/GOV-003-publication-workflow.md
Due: build-pandoc-docs

docs(adr): OPS-004 Job Match Staging & Notification Service
  docs/adr/operations/OPS-004-job-match-staging-notifications.md
Due: build-pandoc-docs

docs(adr): ADR-004 application tracking system (CI-triggered pipeline)
  docs/adr/ADR-004-application-tracking-system.html
Due: none

ci: add GitLab reverse mirror workflow
  .github/workflows/mirror-to-gitlab.yml
Due: none

Path conditions:
  build-pandoc-docs: any of: **/*.md, !**/*.qmd
  build-typst-docs: any of: **/*.typ
  build-quarto-docs: any of: **/*.qmd, **/*.ipynb
